<section class="gallery">
  <mat-grid-list [cols]="cols" [rowHeight]="rowHeight">
    <mat-grid-tile *ngFor="let photo of photos">
      <mat-card>
        <img mat-card-img [src]="photo.thumbnailUrl" alt="image">
        <mat-card-title>{{photo.title}}</mat-card-title>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
<mat-paginator [length]="data?.length" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
  (page)="getPageData($event.pageIndex, $event.pageSize)">
</mat-paginator>