<section class="contact-us d-flex">
  <form class="d-flex" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Full name</mat-label>
        <input
          autocomplete="off"
          formControlName="fullname"
          matInput
          type="text"
        >
      </mat-form-field>
      <div class="errors" *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)">
        <div *ngIf="fullname.errors.required">
          Full name is required.
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          autocomplete="off"
          formControlName="email"
          matInput type="text"
        >
      </mat-form-field>
      <div class="errors" *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors.required">
          Email is required.
        </div>
        <div *ngIf="email.errors.email">
          Please enter valid email
        </div>
        <div *ngIf="email.errors.pattern && !email.errors.email">
          Please enter valid email
        </div>
      </div>
    </mat-card-content>
    <mat-card-content>
      <mat-form-field color="accent" appearance="outline">
        <mat-label>Phone number</mat-label>
        <input
          autocomplete="off"
          formControlName="phoneNumber"
          matInput
          type="tel"
        >
      </mat-form-field>
      <div class="errors" *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
        <div *ngIf="phoneNumber.errors.required">
          Phone number is required.
        </div>
        <div *ngIf="phoneNumber.errors.minlength">
          Number must be at least 13 characters long.
        </div>
        <div *ngIf="phoneNumber.errors.pattern">
          Pleas enter valid format
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        color="primary"
        mat-raised-button
        [disabled]="form.status !== 'VALID'"
      >
        Submit
      </button>
    </mat-card-actions>
  </form>
</section>