<div class="posts__container">
  <mat-accordion>
    <mat-expansion-panel [ngClass]="className" *ngFor="let post of posts" hideToggle>
      <mat-expansion-panel-header>
        {{post.title}}
      </mat-expansion-panel-header>
      <p>
        {{post.body}}
      </p>
      <mat-action-row *ngIf="is">
        <button (click)="updatePost(post)" color="primary" mat-raised-button>update</button>
        <button
          color="warn"
          mat-raised-button
          (click)="remove(post.id)"
        >delete</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>